.nav{
    background-color: rgba(6, 60, 152, 0.976);
    height: 70px;
    color: white;
    /* position: relative; */
    /* display: inline-block; */
    /* align-items: center; */
    /* justify-content: center; */
    /* text-align: center; */
}

.center{
    position: relative;
    align-items: center;
    justify-content: center;
    
}

.c{
    position: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logo{
    color: black;
    font-size: 1rem;
    position: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.height{
    height:100%
}