.background{
    background-color: rgb(47, 182, 186);
    height: 100vh;
}

.words{
    color: rgb(19, 0, 93);
}

.result{
    /* font-size: "2rem"; */
    /* color: red; */
    background-color: rgb(173, 173, 173);
}